<header>
    <% if(user) {%>
        <h1>
            <%= username %>的个人博客
        </h1>
        <% } else { %>
            <h1>
                欢迎来到个人博客
            </h1>
            <% } %>
</header>